@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

.body {
    /*font-family: 'Roboto-Regular', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 80px;
    left: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1200px) {
    .profile-image {
        display: none
    }
    .info-container {
        margin-left: 0%;
    }
}

.title {
    background: rgb(34, 86, 195);
    background: linear-gradient(0deg, rgba(34, 86, 195, 1) 0%, rgba(45, 91, 253, 1) 100%);
    width: 100%;
    display: flex;
    /*height: 200px;*/
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name {
    margin-top:30px;
    font-size: 60px;
}

.description {
    font-size:20px;
    margin-bottom: 30px;
}
.ico {
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.info-text {
    margin-left: 10px;
    font-size: 15px;
}

.info-grid-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .info-container {
        margin-left: 0%;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .info-container {
        margin-left: 41%;
        flex-direction: row;
    }
}


.info-container {
    margin-top: 10px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px
}

/*
    CONTENT
*/

@media (max-width: 1200px) {
    .main-content-container {
        display: flex;
    }
}

.content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1200px) {
    .content-container {
      flex-direction: column;
      align-items: center;
    }
  }


.content-container > div {
    width: 47%;
}

@media (max-width: 1200px) {
.content-container > div {
    width: 90%;
}
}

.content-section {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin-bottom: 10px;
}
.content-section > h1 {
    color: rgb(2, 55, 116);
    font-size: 25px;
}

.content-with-year {
    display: flex;
    flex-direction: row;
}


.content-with-year > div > p {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 15px;
}

.content-with-year > div > p:first-child {
    font-weight: 600;
    font-size: 16px;
}

.content-with-year > div > p:last-child {
    font-size: 14px;
    line-height: 200%;
}

.content-with-year > div:first-child {
    font-size: 16px;
    width: 100px;
}

.content-with-year > div {
    width: 600px;
}

.content-intro {
    font-size: 14px;
    margin-bottom: 20px;
}

.content-with-language {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.content-with-language > div {
    width: 600px;
}

.content-with-language > div:first-child {
    font-size: 15px;
    width: 150px;
}

.content-with-language > div > p {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 15px;
}

